.hero2 {

  float: right;
  width: 45%;
  height: 80vh;
  background: url("https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_1340/Dinner3-new_sacgrd");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 500px) {
  .hero2 {
    display: none;
  }
}