#restraunt{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-left:10%;


}
#headr{
    font-size: 40px;
    font-weight: 700;
    width: 300px;
}
#p1{
    font-size: 20px;
    width: 400px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #7e808c;
}

.r1{
   padding-top:8%;
}
.mobimg1{
    margin-left:10%;
    width: 45%;
}
.mobimg2{
    margin-left:-10%;
    width: 45%;
}
.mobimages{
    width: 80%;
    height: 480px;
}
.appstore{
  width:180px;
  height:55px;
}
#app2{
    margin-left:15px;
}
@media only screen and (max-width: 500px) {
    #restraunt{
      flex-direction: column;
    }
    .mobimg1{
        margin-top:2%;
        margin-right:2%;
        width: 100%;
       padding-right:10%;
    }
    .mobimg2{
        margin-top:-8%;
        margin-left:10%;
        width: 100%;
        padding-right:10%;
    }
    .mobimages{
    
        height: 480px;
    }
    #app2{
        margin-left:0px;
    }
  }